export("as.semigroup", "as.strings", "bundle.census", "bundles", "cngr", "cph", "decomp", "dhc", "diagram", "dichot", "edgeT", "expos", "hierar", "jnt", "men", "ngbs", "pacnet", "partial.order", "perm",
       "pi.rels", "prev", "rbox", "read.gml", "read.srt", "reduc", "reducs", "rel.sys", "rm.isol", "semigroup", "semiring", "signed", "sprt", "strings", "summaryBundles", "swp", "transf", "transl", "wordT",
       "write.dat", "write.dl", "write.gml", "write.srt", "zbind", "zbnd", "diagram.levels", "galois", "redl", "print.reduced", "fltr", "as.signed", "neighb", "flt", "coor", "print.gml", "comps", "mnplx",
       "read.dl", "bnd", "trnf", "strng", "edgS", "fact", "mlvl", "mmp", "mxmn", "cscl", "cpath", "ti", "pfvn")
S3method(print, reduced)
S3method(print, gml)
